.aboutpagebody{
    margin: 20px;
    padding: 20px;
    width: 90%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
